html{
  position: relative;
}
*{
  list-style: none!important;
}
main *:not(footer, footer *){
  text-align: center;
}
main>div{
  display: block;
  position: relative;
  padding: 15px;
}
main>div>a[id]{
  opacity: 0;
  visibility: none;
  position: absolute;
  top: -60px;
}

header h1 h4{
  display: inline-block;
  position: absolute;
  font-size: 15px;
  right: 10px; left: auto;
  bottom: auto; top: 50%;
  transform: translateY(-60%);
}
header h1 h4 a{
  color: #fff;
  text-decoration: none;
}

body>div:nth-child(2){
  display: inline-block;
  position: fixed;
  right: -400px; top: 0; bottom: 0;
  z-index: 9998;
  height: 100%;
  width: 400px;
  background-color: #fffd;
  padding-top: 65px;
  transition: all 0.2s cubic-bezier(.75,0,.25,1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 0 20px #333e;
  overflow: auto;
}
body>div>ul{
  position: relative;
  display: block;
  color: #000;
  z-index: 9998;
}
body>div>ul>li{
  display: block;
  position: relative;
  font-size: 20px;
  margin-top: 15vh;
  margin-left: 50px;
}
body>div>ul>li>a{
  color: #000;
  text-decoration: none;
}
#opened{
  right: 0;
}

main>div:nth-child(1){
  display: block;
  position: relative;
  background-image: url('/images/yt_icon-blur.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: calc(100vh - 60px);
}
main>div:nth-child(1)>div{
  position: sticky;
  top: 50%; left: 0; right: 0;
  transform: translateY(-50%);
  margin: auto;
  text-align: center;
  overflow: auto;
}
main>div:nth-child(1)>div>*{
  color: #000;
}
main>div:nth-child(1)>div>h1{
  font-size: 50px;
  font-weight: 500;
}
main>div:nth-child(1)>div>h1::after{
  content: '';
  display: block;
  width: 150px;
  height: 3px;
  margin: 0 auto;
  background-color: #000a;
}

main>div:nth-child(2){
  display: block;
  padding: 100px 0;
  width: 60%;
  margin: 0 20%;
}
div#belong{
  display: block;
  margin-top: 20px;
}
div#belong a{
  display: inline-block;
  width: auto;
  padding: 7px 15px 10px 40px;
  background-color: #eee;
  border-radius: 20px;
  color: #555;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-size: 18px;
  position: relative;
  margin: 7.5px;
}
div#belong a:hover{
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 15px #eee;
}
div#belong a::before{
  content: '';
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}
div#belong a:nth-child(1)::before{
  background-image: url('https://avatars.githubusercontent.com/u/88645383?v=4');
}
div#belong a:nth-child(2)::before{
  background-size: 150%;
  background-position: 40% center;
  background-image: url('https://pbs.twimg.com/profile_images/1417710146839400453/EH5_RfZ0_400x400.jpg');
}

main>div:nth-child(3){
  background-color: #222;
  padding-top: 15px;
  display: block;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  padding: 30px 15%;
}
main>div:nth-child(3)>div{
  display: block;
  position: relative;
  bottom: 0;
  margin: auto;
  width: auto;
  height: calc(75vh - 200px);
}
span.prog-lang{
  display: inline-block;
  position: relative;
  width: 30px;
  margin: 0 2vw;
  border-radius: 8px 8px 3px 3px;
  bottom: -25px;
}
span.prog-lang.ruby{
  height: 25%;
  background-color: #dc4355;
}
span.prog-lang.ruby::after{
  content: 'Ruby';
  position: absolute;
  bottom: -20px;
  left: 0;
}

span.prog-lang.js{
  height: 60%;
  background-color: #ccdd47;
}
span.prog-lang.js::after{
  content: 'JS';
  position: absolute;
  bottom: -20px;
  left: 0;
}

span.prog-lang.html{
  height: 80%;
  background-color: #79a3d7;
}
span.prog-lang.html::after{
  content: 'HTML';
  position: absolute;
  bottom: -20px;
  left: 0;
}

span.prog-lang.css{
  height: 65%;
  background-color: #a385cd;
}
span.prog-lang.css::after{
  content: 'CSS';
  position: absolute;
  bottom: -20px;
  left: 0;
}

span.prog-lang.c{
  height: 10%;
  background-color: #79a3d7;
}
span.prog-lang.c::after{
  content: 'C';
  position: absolute;
  bottom: -20px;
  left: 0;
}

span.prog-lang.bash{
  height: 35%;
  background-color: #a872fd;
}
span.prog-lang.bash::after{
  content: 'Bash';
  position: absolute;
  bottom: -20px;
  left: 0;
}

@media (max-width: 430px) {
  main>div:nth-child(3){
    width: calc(100% - 10px);
    padding: 30px 5px;
  }
}

@media (prefers-color-scheme: dark) {
  div#belong a{
    background-color: #333;
    color: #ccc;
  }
  div#belong a:hover{
    background-color: #222;
    color: #eee;
    box-shadow: 0 0 15px #444;
  }
}

@media (prefers-color-scheme: light) {
  main>div:nth-child(3){
    background-color: #eee;
  }
  header>h1>h4>a{
    color: #000;
  }
}
