a{
  color: #3387a8!important;
}
main>div{
  width: 50%;
  padding-left: 25%;
  padding-right: 25%;
  margin-bottom: 25px;
}
*{
  list-style: none;
}
li:not(:nth-child(1)){
  margin-left: 5px;
}
footer{
  background-color: #fff;
  background-image: none;
}

@media (prefers-color-scheme: dark) {
  footer{
    background-color: #000;
  }
  a{
    color: lightblue!important;
  }
}
