album-cover{
  display: inline-block;
  position: relative;
  width: calc(20vw - 9px);
  height: calc(20vw - 9px);
  border-radius: 5px;
  overflow: hidden;
  top: 0; left: 0;
  transition: border-radius 0.2s ease-in-out;
}
album-cover::before{
  content: '';
  transition: all 0.3s ease-in-out;
  display: inline-block;
  position: absolute;
  top: -5px;
  left: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  background-color: #494949;
  border-radius: inherit;
  filter: blur(10px) brightness(75%);
  background-size: cover;
  background-position: center;
}
album-cover *{
  user-select: none;
  -ms-user-select: none;
  transition: all 0.2s ease-in-out;
  vertical-align: middle;
}
album-cover p{
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 25px;
}
album-cover p-top{
  font-size: 15px;
  display: block;
}
album-cover:hover{
  border-radius: 10px;
}
album-cover:hover::before{
  filter: blur(5px) brightness(110%);
}
album-cover:active::before{
  filter: none;
}

/*for summary-2020*/
#summary-2020::before{
  background-image: url('../images/art/07.jpg');
}

/*for ambiguous*/
#ambiguous::before{
  background-image: url('../images/art/06.jpg');
}

/*for kokken*/
#kokken::before{
  background-image: url('../images/art/05.jpg');
}

/*for geometric-ep*/
#geometric-ep::before{
  background-image: url('../images/art/04.jpg');
}

/*for geometric*/
#geometric::before{
  background-image: url('../images/art/03.jpg');
}

/*for return*/
#return-single::before{
  background-image: url('../images/art/02.jpg');
}
#return-single *{
  color: #000;
}

@media (orientation: portrait) and (max-width: 800px) {
  body{
    overflow-x: hidden;
  }
  album-cover{
    display: block;
    width: calc(90vmin - 10px);
    height: calc(90vmin - 10px);
    margin: calc(5vmin);
  }
}
