@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

*{
  font-family: 'Noto Sans JP','Helvetica','Yu Gothic UI Light','Segoe UI light',sans-serif;
  margin: 0; padding: 0;
  font-weight: 400;
}
body{
  padding: 0; margin: 0;
  background-color: #000;
}
a{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  width: inherit; height: inherit;
  transition: all 0.2s ease-in-out;
}
a:hover{
  color: #cdcdcd;
}

header{
  font-size: 20px;
  z-index: 9999;
  color: #fff;
  background-color: #222222ad;
  position: fixed;
  top: 0; left: 0; right: 0;
  vertical-align: middle;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  user-select: none;
  -ms-user-select: none;
}
header h2{
  padding-left: 10px;
}
header *{
  display: inline-block;
  vertical-align: middle;
}
nav{
  display: inline-block;
  float: right;
  padding-top: 4px;
  padding-right: 10px;
}

main{
  display: inline-block;
  position: absolute;
  top: 44px;
  padding: 5px 0 5px 5px;
  color: #cdcdcd;
  width: calc(100% - 10px); height: auto;
}

@media (max-width: 500px) {
  nav{
    display: none;
  }
}
@media (max-width: 300px) {
  *::before{
    content: 'こんな細い画面でこのサイト見るなよ';
  }
  *::after{
    content: 'こんな細い画面でこのサイト見るなよ by Sorakime';
  }
}
