*{
  font-family: 'Noto Sans JP', sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  width: inherit; height: inherit;
}
body{
  padding: 0; margin: 0;
  background-color: #252525;
}
header{
  text-align: center;
  font-size: 15px;
  color: #d9d9d9;
  background: linear-gradient(0, #636363, #9d9d9d);
  padding: 5px;
  position: fixed; top: 0; left: 0; right: 0;
}
main{
  position: absolute; top: 35px;
  padding: 5px;
  color: #cdcdcd;
}
