@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;500&display=swap');
/*body and, general settings*/
:root, *{
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #ccc #888;
}
body{
  margin: 0; padding: 0; border: 0;
  box-sizing: border-box;
}
*{
  font-family: 'Noto Sans JP',sans-serif;
  font-weight: 100;
  margin: 0; padding: 0;
}
a{
  color: darkblue;
}

/*header and, main, footer*/
header{
  display: block; position: fixed;
  top: 0; left: 0; right: 0;
  padding-left: 10px;
  height: 60px;
  background-color: #fff4;
  z-index: 9999;
  user-select: none;
  box-shadow: 0 0 20px #0007;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
header > h1 > span{
  display: inline;
  font-size: 10px;
}
main{
  display: block; position: absolute;
  top: 60px; left: 0; right: 0;
  z-index: 1000;
}

/*charcter tags*/
/*h1, h2, h3, h4, h5, h6, p, a, pre, code, b, strong, em, del, ins, abbr, dfn, blockquote, q, cite, sub, sup, var, kbd, samp, ul, li, ol, */

h1{
  font-size: 35px;
}
h2{
  font-size: 27px;
}
h3{
  font-size: 24px;
}
h4{
  font-size: 21px;
}
h5{
  font-size: 19px;
}
h6{
  font-size: 14px;
}

/*for <footer>*/
footer{
  display: block;
  position: relative;
  padding: 5px 25%;
  background-image: url('/images/yt_icon-blur.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 50%;
  text-align: left;
  backdrop-filter: blur(50px) contrast(50%) brightness(75%);
  -webkit-backdrop-filter: blur(50px) contrast(50%) brightness(75%);
}
footer>div{
  display: flex;
}
footer div span{
  display: inline-block;
  width: 100%;
}
footer div span{
  margin: 0 7.5px;
}
footer h4{
  font-weight: 300;
}
footer a{
  text-decoration: none;
  color: lightblue;
}

@media (prefers-color-scheme: dark) {
  body{
    background-color: #000;
  }
  header{
    background-color: #0004;
  }
  header *{
    color: #fff;
  }
  *{
    color: #fff;
  }
  a{
    color: lightblue;
  }
}

@media (max-width: 720px) {
  footer{
    width: calc(100% - 20px);
    padding: 5px 10px;
  }
  main, main>div:nth-child(1){
    width: calc(100% - 30px);
    padding: 0 15px;
  }
}

@media (max-width: 600px) {
  footer, footer small{
    position: relative;
    background: none;
    text-align: left;
  }
  footer small{
    position: absolute;
    display: block;
    left: 0; bottom: 0; right: 0;
    text-align: center;
  }
  footer>div{
    position: relative;
    display: inline-block;
    width: auto;
    left: 50%;
    transform: translate(-50%, 0);
  }
  footer>div>span{
    display: inline;
  }

  footer>div>span h4{
    display: block;
  }
}
