*{
  overflow-x: hidden;
}


view-top{
  text-align: center;
  box-sizing: content-box;
  display: inline-block;
  width: 100%;
  height: calc(100vh - 60px);
  background-image: url('../images/yt_cover.JPG');
  background-position: center; background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 20px 20px 150px #c5c5c5;
  margin: 0;
}
view-bottom{
  text-align: center;
  box-sizing: content-box;
  display: inline-block;
  width: 100%;
  height: calc(100vh - 60px);
  background-position: center; background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 20px 20px 150px #c5c5c5;
  background-image: url('../images/mncr_logo.png');
  margin: 0;
}

view-big{
  text-align: center;
  box-sizing: content-box;
  display: inline-block;
  position: relative;
  color: #262626;
  width: auto;
  text-align: center;
  font-size: 45px;
  top: calc(50% - 72.5px);
  backdrop-filter: blur(15px) brightness(110%);
  z-index: 9998;
  padding: 50px;
  user-select: none;
  border-radius: 15px;
  font-weight: 300;
}
