side-bar, iframe{
  display: inline-block; position: fixed; right: 5px;
  background-color: #55555511;
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0 0 15px #aaa;
  backdrop-filter: blur(3px) brightness(150%) contrast(125%);
  width: calc(22.5vw - 15px); height: 12.5vw; text-align: right;
}
side-bar{
  top: 100px;
}
side-bar>side-content{
  position: relative;
  top: 12.5vw; right: 5px;
}
main{
  width: 75vw;
}

@media (max-width: 1000px) {
  side-bar, iframe{
    width: calc(33.75vw - 5px); height: 18.75vw;
  }
  main{
    width: calc(66.25vw + 5px);
  }
  side-bar>side-content{
    top: 18.75vw;
  }
}

@media (max-width: 600px) {
  side-bar, iframe{
    width: calc(90vw - 5px); height: auto; left: 0;
    position: relative; top: 0; text-align: left;
    box-shadow: none;
    background-color: #fff;
  }
  iframe{
    text-align: center;
  }
  main{
    width: 100%;
    overflow: hidden;
  }
  side-bar>side-content{
    left: 0; right: 0;
    top: 0px;
  }
}
