main>div>*{
  display: inline-block;
  background-color: #c4c4c4;
  width: 100%;
  min-height: 300px;
  height: 60vh;
  margin-right: 2px;
  border-radius: 15px;
}
main>div>*:nth-child(1){
  margin-right: 15px;
}
main>div{
  display: flex;
}
h1{
  font-weight: 300;
}
a{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  width: 50%;
  margin: 0;
  transition: all 2s ease-in-out;
}
a:hover{
  width: 250%;
}
a>div{
  display: inline-block;
  position: absolute;
  bottom: 10%;
  left: 0; right: 0;
  text-align: center;
}
a>div>h1{
  font-weight: 500;
  font-size: 40px;
}
a>div>p{
  font-weight: 300;
  font-size: 18px;
}
a:nth-child(1){
  background-image: url('/mncr/images/monot/top.jpg');
}
a:nth-child(2){
  background-image: url('/mncr/images/monojs/blur.png');
}
h1>span{
  position: relative;
  top: -7.5px;
  font-size: 15px;
  font-weight: 100;
  padding: 0 2px 0 2px;
  margin: 2px;
  border: 0.5px solid #555;
  border-radius: 5px;
}
