:root{
  --main-shadow: 0 0 15px #888a;
}
body{
  overflow-x: hidden;
  scroll-behavior: smooth;
}
main, body main{
  padding: 0;
}

header{
  position: relative;
  background-color: #ddd;
  width: auto;
  padding-left: auto;
  padding-right: auto;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: var(--main-shadow);
  text-align: center;
}
header>div{
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
div#icon{
  display: inline-block;
  width: 20vmin;
  min-width: 150px;
  height: 20vmin;
  min-height: 150px;
  background-position: center;
  background-size: contain;
}
header div h1{
  font-size: 50px;
  font-weight: 100;
}
h1>span{
  position: relative;
  top: -7.5px;
  font-size: 15px;
  font-weight: 100;
  padding: 0 2px 0 2px;
  margin: 2px;
  border: 3px solid #cdcdcd;
  background-color: #fff;
  border-radius: 5px;
}
header div h3{
  font-size: 25px;
  font-weight: 300;
}
header div p{
  font-size: 20px;
  font-weight: 300;
  margin-top: 20px;
}
header div#download{
  display: block;
  margin-top: 20px;
  text-align: center;
}
header div#download span{
  font-weight: 200;
  font-size: 13px;
  background-color: #eee;
  padding: 5px;
  margin-top: 20px;
  border-radius: 12px;
  border: 5px solid #ccc;
  user-select: none;
}

div#screenshot::before, div#description::before, div#detail::before{
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 25px;
}

div#screenshot{
  overflow: auto;
}
div#screenshot::before{
  content: 'スクリーンショット';
  margin-top: 25px; margin-left: 25vw;
}
div#screenshot div{
  padding-left: 25vw;
  display: flex;
  width: auto;
  overflow: auto;
  height: 500px;
  scrollbar-color: #aaa0 #ddd0;
  scrollbar-width: thin;
  transition: all 0.2s ease-in-out;
}
div#screenshot div:hover{
  overflow: auto;
  scrollbar-color: #aaa9 #ddd5;
  transition: all 0.2s ease-in-out;
}
div#screenshot div img{
  margin: 15px;
  display: inline-block;
  border-radius: 15px;
  width: auto;
  height: calc(100% - 40px);
  box-shadow: var(--main-shadow);
}

div#description::before{
  content: '概要';
}
div#description, div#detail{
  font-size: 17px;
  font-weight: 300;
  width: 50vw;
  margin-right: 25vw;
  margin-left: 25vw;
}

div#detail{
  margin-top: 25px;
}
div#detail::before{
  content: '詳細情報';
}
div#detail table td:nth-child(1){
  display: inline-block;
  width: 20vw;
  text-align: right;
  margin-right: 20px;
  font-weight: 100;
}
