@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;700;900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,700;1,900&display=swap');
*{
  font-family: 'Noto Sans JP','Source Code Pro',sans-serif, monospace;
  font-weight: 200;
}

h1, h2{
  font-weight: 300;
}
