body {
  margin: 0; padding: 0;
}
header {
  width: 100vw;
  position: fixed;
  left: 0; right: 0;
  margin: 0; padding: 0;
  z-index: 9999;
}
header:nth-child(1) {
  background-color: #fff;
  height: 10px;
}
header:nth-child(1) > p:nth-child(2) {
  font-size: 7.5px;
  display: inline-block;
}
header:nth-child(1) > p:nth-child(1) {
  font-size: 10px;
  display: inline-block;
}
