header{
  text-align: center;
  height: 40px;
  padding: 5px;
  font-size: 20px;
  position: fixed;
  top: 0; left: 0; right: 0;
  vertical-align: middle;
  z-index: 9999;
  cursor: default;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: rgba(240,240,240,0.9);
  box-shadow: 0px 5px 15px #56565622;
}
header>nav-btn{
  float: left;
}
header>span{
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  width: 25px;
  height: 25px;
  background-image: url('../images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
}

@supports (backdrop-filter: blur(30px)) {
  header{
    background-color: #ffffff24;
    backdrop-filter: blur(30px) brightness(110%);
  }
}
