intro-duction{
  position: relative;
  display: block;
  width: 100%;
  height: 80vh;
  min-height: 300px;
  max-height: 950px;
  text-align: center;
  background: #11111111;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
intro-duction p{
  font-size: 20px;
}
intro-duction p.tag{
  display: inline-block;
  font-size: 10px!important;
}

/*for Monot*/
intro-duction#monot{
  background-color: #fafafa;
  position: relative;
  background-image: url('../images/introduce/monot.jpg');
}
intro-duction#monot *{
  color: #252525;
}
intro-duction#monot div{
  position: absolute;
  bottom: 50px; left: 0; right: 0;
}

/*for Litest*/
intro-duction#litest{
  background-image: url('../images/introduce/litest.jpg');
}
intro-duction#litest h1{
  padding-top: 70px;
  color: #fff;
  font-weight: 400;
}
intro-duction#litest p{
  margin-top: -15px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
}

/*for monoJS*/
intro-duction#monojs{
  background-image: url('../images/introduce/monojs.jpg');
}
intro-duction#monojs *{
  color: #000!important;
}
intro-duction#monojs h1{
  padding-top: 50px;
  font-weight: 100;
}
intro-duction#monojs p{
  font-weight: 400;
}

/*for vash*/
intro-duction#vash{
  background-image: url('../images/introduce/vash.jpg');
  background-color: #000;
}
intro-duction#vash div{
  position: absolute;
  bottom: 90px; left: 0; right: 0;
  text-align: center;
}
intro-duction#vash div *{
  color: #fff;
}
