nav-cts{
  display: inline-block;
  position: fixed;
  top: 0; bottom: 0; left: -410px; right: 0;
  z-index: 9998;
  width: 400px; max-width: 65vw; min-width: 100px;
  height: 100vh;
  background-color: #000d;
  padding: 2px; padding-top: 50px;
  transition: all 0.8s cubic-bezier(1,0,0,1);
  opacity: 0; overflow: auto;
  padding-left: 5px;
  overflow: auto;
}
nav-cts, nav-cts *{
  color: #cfcfcf;
}
nav-cts#navbtn{
  display: block;
  width: 400px;
  min-width: 100px; max-width: 65vw;
  opacity: 1;
  z-index: 9998;
  left: 0;
}
nav-cts::before{
  content: '';
  display: block;
  position: fixed;
  top: 0; left: -100vw;
  background-color: #000000b5;
  width: 100vw; height: 100vh;
  z-index: -5;
  transition: all 0.5s cubic-bezier(1,0,0,1);
}
nav-cts#navbtn::before{
  left: 0;
  z-index: -5;
}

developer-detail, developer-detail *{
  padding: 5px;
}
developer-detail > div{
  font-size: 35px;
  padding-left: 10px;
  display: block;
}
pages-view > a{
  display: block;
}
pages-view{
  display: block;
  margin-top: 15px;
}
main{
  z-index: 9990;
}

nav-cts a{
  transition: all 0.2s ease-in-out;
}
nav-cts a:hover{
  color: #58c0ff;
}

@media (prefers-color-scheme: dark) {
  nav-cts{
    background-color: #585858;
  }
}
