*{
  margin: 0;padding: 0;border: 0;
  font-family: 'NotoS';
  font-weight: 100;
  color: #000;
  text-decoration: none;
}
main{
  padding-top: 50px;
}

a *:active{
  color: #000;
}
a:not(main>a):not(header a):not(nav-cts a)::after{
  content: '';
  display: inline-block;
  position: relative;
  top: 5px;
  width: 15px;
  height: 15px;
  padding: 0; margin: 0;
  background-size: cover;
  z-index: -100;
  background-image: url('../images/go.png')!important;
}
main a:not(main>a):not(header a){
  border-bottom: 2px solid #fff!important;
  transition: all 0.2s ease-in-out;
  background-color: none;
}
main a:not(main>a):not(header a):hover{
  border-bottom: 2px solid #2daceb !important;
}
main a:not(main>a):not(header a){
  border-bottom: 2px solid #000!important;
  transition: all 0.2s ease-in-out;
  background-color: none;
}

body > span{
  display: none;
}
main[data-type="normal"]{
  padding: 50px 5px 5px 5px;
}
main[data-type="normal"] > h1{
  border-bottom: 1px solid #000;
}

table{
  border: 2.5px solid #989898;
  padding: 0; margin: 0;
  border-radius: 10px;
}
td, th{
  text-align: left; border-radius: 0 7px 7px 0;
  background-color: #ccc; font-weight: 600;
  margin: 0; padding: 0; padding: 3px;
}
table{
  width: calc(100% - 25px);
}
td:nth-child(1){
  width: 30%;
  border-radius: 7px 0 0 7px;
}

ul{
  position: relative;
  left: 25px;
}
hr{
  height: 1px; background: #000; margin: 2px 5px;
}
h1{
  font-size: 60px;
}
small{
  display: block;
  text-align: center;
  color: #000000aa;
}


@media (prefers-color-scheme: dark) {
  *{
    color: #fff;
  }
  main a:not(main>a):not(header a){
    border-bottom: 2px solid #fff!important;
    transition: all 0.2s ease-in-out;
    background-color: none;
  }
  a:not(main>a):not(header a):not(nav-cts a)::after{
    content: '';
    background-image: url('../images/go-light.png')!important;
  }
  body{
    background-color: #111;
  }
  small{
    color: #fff;
  }
  td, th{
    background-color: #353535;
  }
  table{
    background-color: #666;
    border: 2px solid #555;
  }
}
@media (max-width: 750px) {
  h1{
    font-size: 40px;
  }
}
