@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;900&display=swap');
/*general settings*/
html, body{
  background-color: #f1f1f1;
  padding: 0; margin: 0;
  overflow: auto;
}
*{
  font-family: 'Noto Sans JP',sans-serif;
  color: #000;
}
nav{
  position: fixed; left: 15px; top: 15px; bottom: auto; display: inline-block;
  overflow-y: auto; -ms-overflow-style: none; scrollbar-width: none; z-index: 9995;
  width: 60px; height: 190px; border-radius: 15px; max-height: calc(100vh - 10px);
  background-color: #fafafa; box-shadow: #ccc 5px 5px 15px; padding: 10px;
}
nav::webkit-scrollbar{display: none;}
nav > *{
  font-size: 10px; display: block; text-align: center; padding-bottom: 5px;
  user-select: none; cursor: default; width: 60px; height: 60px;
}
nav > *::after{
  content: '1'; display: block; width: 50px; height: 50px; font-size: 40px;
  overflow: hidden; margin: 0 auto; position: relative; top: -15px;
}
button-episode::before{content: 'エピソード';}
button-season::before{content: 'シーズン';}
button-program::before{content: '番組';}

main{
  position: fixed; display: block; width: 100vw; height: 100vh;
  background-image: url('../../../images/p1.png'); background-position: center; background-size: cover;
}
main::before{
  content: ''; background: inherit; filter: blur(5px); display: block; width: 100%; height: 100%;
}
album-art{
  display: inline-block; width: 100vh; position: fixed; top: 0; height: 100vh;
}
album-art::before{
  content: ''; background-image: url('../../../images/p1.png'); background-position: center; background-size: cover;
  display: inline-block; width: 70vh; height: 70vh; border-radius: 15px; margin: 15vh;
}
album-detail{
  display: inline-block; width: 70vh; height: 70vh; position: absolute; margin: 15vh;
  top: 0; right: 15vh; color: #000;
}
album-detail::before{
  content: 'Sorakimeの不定期Podcast'; font-size: 80px; display: block;
}
album-detail::after{
  content: 'シーズン0 - Sorakime'; font-size: 35px; display: block;
}
@media (orientation: portrait) {
  html, body{overflow-x: scroll;}
  album-art::before{
    width: 70vw; height: 70vw; margin: 15vw;
  }
  album-detail{
    padding: relative; width: 100vw; top: 125vh;
  }
  album-detail::before{font-size: 35px;}
  album-detail::after{font-size: 15px;}
}

/*support for Dark-Mode*/
@media (prefers-color-scheme: dark) {
  html, body{background-color: #0E0E0E;}
  *{color: #fff;}
  nav{
    background-color: #050505;
    box-shadow: #333 5px 5px 15px;
  }
}
